/*
 Favourites Container
*/
.card-columns {
  margin-left: 5em;
  margin-right: 5em;
}
.card {
  margin-right: 25px;
}

#favourites-title {
  color: black;
  display: flex;
  flex-direction: row;
  font-size: 40px;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 5%;
}

 #favourite-container {
  margin-left: 5em;
  margin-right: 5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

/*
  Favourites Modal
*/


.modal-body {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}

#modal-favourite-button {
  background-color:red;
  border-color: red;
}
#modal-redirect-button.btn.btn-primary {
  margin-right: auto;
}
#modal-body-left {
  width: 40%;
}

.modal-title {
  margin-left: 35%;
}

.modal-image {
  width: 100%;
}
#modal-body-right {
  margin-left: 5%;
  margin-right: 5%;
}
.modal-footer {
  display: flex;
  justify-content: space-between;
  background-color: #262626;
}

* {
  box-sizing: border-box;
}



.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.card-img-top {
  height: 60%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
